.header {
    align-items: center;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.logo {
    padding-left: 15px;
}

.users {
    padding-right: 15px;
}

.user {
    display: flex;
}

.user .logout {
    cursor: pointer;
}

.users a,
.user a {
    text-decoration: none;
    color: black;
}